.light-navbar-scroll {
    background-color: '#BBBF9F' !important;
}

.dark-navbar-scroll {
    background-color: '#BBBF9F' !important;
}

.dark-navbar {
    background-color: '#BBBF9F' !important;
}

.light-navbar {
    background-color: '#BBBF9F' !important;
}